.transaction_history {
  display: block;
  margin: 0 auto 20px auto;
}
.head {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
.headrow {
  display: flex;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background-color: teal;
  flex: 1 1 25%;
  padding: 10px;
}

.tbody {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 50%;
}
.row:nth-child(even) {
  background-color: azure;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  flex: 1 1 33.333%;
  border: 2px solid grey;
  padding: 5px;
}

.value:first-child {
  justify-content: flex-start;
  padding: 5px 5px 5px 75px;
}
