.statistics {
  display: block;
  margin: 0 auto;
  max-width: 380px;
  height: auto;
  text-align: center;
}
.title {
  display: inline-block;
  text-transform: uppercase;
}
.statlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 20%;
  padding: 20px;
}
.item:nth-child(1) {
  background-color: tomato;
}
.item:nth-child(2) {
  background-color: teal;
}
.item:nth-child(3) {
  background-color: red;
}
.item:nth-child(4) {
  background-color: aquamarine;
}
.item:nth-child(5) {
  background-color: yellow;
}

.label {
  display: block;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 5px;
}
.percentage {
  display: block;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
